---
layout : layout
title : Blog | Tomasz Subik software developer
---

<div>
    {% for post in paginator.posts %}
         <section class="blog-posts">
            <article>
                <header class="post-header">
                   <a href="{{post.url}}">
                    <h1 class="post-title">
                        {{post.title}}
                    </h1>
                    </a>
                    <p>
                        <time datetime="2012-07-30">{{ post.date | date: "%d %B, %Y"  }}</time>
                    </p>
                </header>
                <div class="post-content">
                     {{ post.content | split:"<!--more-->" | after}}
                </div>
            </article>
        </section>
        <hr class="blog-posts-separator"/>
   {% endfor %}

    <!-- Pagination links -->
    <div class="pagination">
      {% if paginator.previous_page %}
        <a href="/blog/page{{ paginator.previous_page }}" class="previous">Previous</a>
      {% else %}
        <span class="previous">Previous</span>
      {% endif %}
      <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
      {% if paginator.next_page %}
        <a href="/blog/page{{ paginator.next_page }}" class="next">Next</a>
      {% else %}
        <span class="next ">Next</span>
      {% endif %}
    </div>   
</div> 